@font-face {
	font-family: 'icomoon';
	src:url('../icon-fonts/login/icomoon.eot?ygxz41');
	src:url('../icon-fonts/login/icomoon.eot?#iefixygxz41') format('embedded-opentype'),
		url('../icon-fonts/login/icomoon.woff?ygxz41') format('woff'),
		url('../icon-fonts/login/icomoon.ttf?ygxz41') format('truetype'),
		url('../icon-fonts/login/icomoon.svg?ygxz41#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body
{
	font-family: 'Open Sans', 'icomoon',sans-serif;
	font-size: 16px;
	background: #fbfbfb;
}
button
{
	background: #474747;
	border: none;
	border-radius: 2px;
	color: #EFEFEF;
	display: inline-block;
	font-size: 1em;
	height: 50px;
	opacity: 0.85;
	padding: .3em .6em;
	margin: 0 0 .5em 3.65em;
	width: 150px;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}
button:hover
{
	background: #EFEFEF;
	border-radius: 2px;
	color: #474747;
}
footer
{
	bottom: 0;
	background: #EFEFEF;
	position: absolute;
	width: 100%;
}
footer p
{
	color: gray;
	display: block;
	margin: 0.7em 0;
	padding: 0;
	text-align: center;
}
footer p a
{
	display: block;
	margin: 0;
	padding: 0;
}
footer p a img
{
	margin: 0;
	padding: 0;
	width: 50px;
}
input
{
	border-top: 1px solid #c0c0c0;
	border: 1px solid #d9d9d9;
	color: #404040;
	display: block;
	font-size: 13px;
	margin: 0 auto;
	margin-top: .8em;
	padding: .3em .6em;
	width: 80%;
}
#contenedor_login
{
	background: white;
	border: 1px solid #e5e5e5;

	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-mox-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-ms-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-o-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;

	height: 350px;
	margin: 0 auto;
	margin-top: 10em;
	padding: 0;
	width: 800px;
}
#login_academia, #login_alumno, #login_maestro
{
	display: block;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 33.25%;
}
#login_academia h2, #login_alumno h2, #login_maestro h2
{
	font-size: 1.2em;
	font-weight: lighter;
	text-align: center;
}
#login_academia
{
	border-right: 1px solid #EFEFEF;

	box-shadow: inset #ababab 0px 5px;
}
#login_alumno
{
	box-shadow: inset #EFEFEF 0px 5px;
}
#login_maestro
{
	border-right: 1px solid #EFEFEF;

	box-shadow: inset #BFBFBF 0px 5px;
}
#loginFace
{
	background: #46a;
	color: white;
	cursor: pointer;
	padding: 30px 0 30px 48px;
	vertical-align: middle;
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-ms-transition: .7s;
	-o-transition: .7s;
}
#loginFace:hover
{
	background: #EFEFEF;
	color: #46a;
	cursor: pointer;
	padding: 30px 0 30px 48px;
	vertical-align: middle;
}
#loginFace:after
{
	font-family: 'icomoon';
	font-size: 1.2em;
	content: "       \e602";
}
#loginTwitter
{
	background: #55acee;
	color: white;
	cursor: pointer;
	padding: 30px 0 30px 48px;
	vertical-align: middle;
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-ms-transition: .7s;
	-o-transition: .7s;
}
#loginTwitter:hover
{
	background: #EFEFEF;
	color: #55acee;
	cursor: pointer;
	padding: 30px 0 30px 48px;
	vertical-align: middle;
}
#loginTwitter:after
{
	font-family: 'icomoon';
	font-size: 1.2em;
	content: "       \e601";
}
#registrarAlumno
{
	margin-top: .8em;
}
.singin_input
{
	display: none;		
}
.login_input
{
	padding: .8em .3em;
	margin-bottom: 3em;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}